* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #161a30;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cruds {
  width: 90%;
  margin: 30px auto;
}
.head {
  text-align: center;
  line-height: 1.5;
  color: #f0ece5;
}
.head h1 {
  font-size: 3rem;
}
.head h1,
.head p {
  text-transform: uppercase;
  font-size: 1.5rem;
}
input {
  background-color: #31304d;
  width: 100%;
}
input::placeholder {
  color: #f0ece5;
}
.btnSearch {
  display: flex;
  gap: 10px;
}
.priceProduct {
  display: flex;
  gap: 5px;
}
.priceProduct input {
  width: 20%;
}
.priceProduct small {
  width: 20%;
  width: fit-content;
}
button {
  background-color: #b6bbc4;
  cursor: pointer;
  width: 100%;
  color: #161a30 !important;
  font-weight: bold;
  font-size: 1rem;
}
button:hover {
  background-color: #161a30;
  border: 1px solid #b6bbc4 !important;
  outline: 1px solid #b6bbc4 !important;
  color: #b6bbc4 !important;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

input,
button {
  outline: 0;
  border: 0;
  padding: 15px;
  margin: 0.5rem 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 20px;
  color: #aba5a5;
}
input:focus {
  background-color: #161a30;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  border: 1px solid #b6bbc4;
  outline: 1px solid #b6bbc4;
}
small {
  padding: 15px;
  display: flex;
  align-items: center;
}
table {
  width: 100%;
  margin-top: 20px;
}

.total {
  position: relative;
  /* grid-area: total; */
  background-color: rgb(199, 18, 18);
  width: 100px;
  height: 40px;
  margin-top: 22px;
  text-align: end;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.total::before {
  content: "Total:";
  position: relative;
  left: -4px;
}

table {
  border-collapse: collapse;
}
tbody {
  text-align: center;
  margin-top: 0.5rem;
}

tbody tr:nth-child(odd) {
  background-color: #161a30;
}
tbody tr:nth-child(even) {
  background-color: #31304d;
}
table th {
  text-transform: uppercase;
  padding: 5px;
  background: #b6bbc4;
  color: #161a30;
}
table td {
  padding: 5px;
}
.update {
  background-color: #b6bbc4;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.update:hover {
  background-color: #504e7e;
  color: #f0ece5 !important;
  outline: none !important;
  border: none !important;
}
tbody .update,
tbody .delete {
  padding: 7px;
  font-weight: 600;
}
tbody .delete {
  background-color: #504e7e;
  color: #f0ece5 !important;
  outline: none !important;
  border: none !important;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
tbody .delete:hover {
  background-color: #b6bbc4;
  color: #161a30 !important;
}
@media screen and (max-width: 768px) {
  .table {
    overflow-x: auto;
  }
}
